body{
	/*overflow piilotettu jotta arvosanat voivat pudota näytön läpi sulavasti*/
	overflow: hidden;
	background-image: url('https://i.imgur.com/MQX71kj.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#cap{
	position: absolute;
	left: 40%;
	top: 85%;
	transform: rotate(180deg);
}

#score{
	position: absolute;
	top: 85%;
	font-size: 35px;

}
#gradeLine{
	position: absolute;
	top: 90%;
	font-size: 35px;
}

/*muut h1 ovat aina gradeja*/
h1{
	color: black;
	font-size: 75px;
	position: absolute;
	top: -150px;
}